<a href="https://colab.research.google.com/github/ajpj1/Antonio-Jesuz/blob/main/Exercicios2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Faça um programa que solicite ao usuário sua idade, depois disso, exiba a classificação etária de acordo com as faixas de valores:
Criança para 0 até 11 anos;
Adolescente para 12 até 18 anos;
Jovem para 19 até 24 anos;
Adulto para 25 até 40 anos;
Meia Idade para 41 até 60 anos;
Idoso acima de 60 anos.**

In [8]:
idade = int(input("Digite sua idade: "))

if idade >=0 and idade <=11:
  print("Criança")

elif idade >=12 and idade <=18:
  print("Adolescente")

elif idade >=19 and idade <=24:
  print("Jovem")

elif idade >=25 and idade <=40:
  print("Adulto")

elif idade >=41 and idade <=60:
  print("Meia idade")

elif idade >=60:
  print("Idoso")

Digite sua idade: 27
Adulto

**Faça um programa que inicialize uma lista vazia e solicite ao usuário 3 nomes de cidades, um por vez, cada vez que o usuário digitar um nome, o programa deve incluir este nome na lista de cidades.**

In [11]:
cidades = []

cidade = input("Digite o nome da primeira cidade: ")
cidades.append(cidade)

cidades.append(input("Digite o nome da segunda cidade: "))
cidades.append(input("Digite o nome da terceira cidade: "))
print(cidades)

Digite o nome da primeira cidade: Resende
Digite o nome da segunda cidade: Volta Redonda
Digite o nome da terceira cidade: São José dos Campos
['Resende', 'Volta Redonda', 'São José dos Campos']

**Faça um programa que inicialize uma lista com vários números diferentes, depois disso, solicite ao usuário um número, verifique se o número está ou não na lista e exiba uma mensagem notificando o usuário do resultado.**

In [14]:
numeros = [1,3,6,9,15,27,50]
numero_digitado = int(input("Digite um número: "))

if numero_digitado in numeros:
  print(f"O número {numero_digitado} está na lista")
else:
  print(f"O número {numero_digitado} não está na lista")

Digite um número: 27
O número 27 está na lista

**Faça um programa que inicialize uma lista vazia e a preencha com 5 nomes diferentes digitados pelo usuário, depois disso solicite um número de 0 até 4 e remova o elemento desta posição.**

In [16]:
nomes = []
nomes.append(input("Digite o primeiro nome: "))
nomes.append(input("Digite o segundo nome: "))
nomes.append(input("Digite o terceiro nome: "))
nomes.append(input("Digite o quarto nome: "))
nomes.append(input("Digite o quinto nome: "))

posicao_para_excluir = int(input("Escolha uma posição de 0(zero) até quatro para excluir da lista"))
del nomes[posicao_para_excluir]
print(nomes)

Digite o primeiro nome: Antonio
Digite o segundo nome: Ruana
Digite o terceiro nome: Karina
Digite o quarto nome: Ana
Digite o quinto nome: Aparecida
Escolha uma posição de 0(zero) até quatro para excluir da lista4
['Antonio', 'Ruana', 'Karina', 'Ana']

**Faça um programa que exiba as tabuadas de 1 até 10 no formato: "2 x 3 = 6", (utilize dois comandos for)**

In [19]:
for operador in range(1,11):
  for operador_2 in range(1,11):
    resultado = operador * operador_2
    print(f"{operador} X {operador_2} = {resultado}")

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100