<a href="https://colab.research.google.com/github/ajpj1/Antonio-Jesuz/blob/main/Pokemon_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importando a biblioteca pandas**

In [16]:
import pandas as pd

**Criar um dicionário com os dados**

In [21]:
raw_data = {"Nome": ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
            "Evolução": ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
            "Tipo": ['planta', 'fogo', 'agua', 'inseto'],
            "Vida": [45,39,44,55],
            "Pokedex": ['sim', 'não', 'sim','não']
            }

In [22]:
pokemon = pd.DataFrame(raw_data)
pokemon.head()

         Nome    Evolução    Tipo  Vida Pokedex
0   Bulbasaur     Ivysaur  planta    45     sim
1  Charmander  Charmeleon    fogo    39     não
2    Squirtle   Wartortle    agua    44     sim
3    Caterpie     Metapod  inseto    55     não

**Ops ... parece que as colunas do DataFrame estão em ordem alfabética. Coloque a ordem das colunas como nome, tipo, hp, evolução, pokedex**

In [24]:
pokemon = pokemon [['Nome','Tipo', 'Vida', 'Evolução', 'Pokedex']]
pokemon

         Nome    Tipo  Vida    Evolução Pokedex
0   Bulbasaur  planta    45     Ivysaur     sim
1  Charmander    fogo    39  Charmeleon     não
2    Squirtle    agua    44   Wartortle     sim
3    Caterpie  inseto    55     Metapod     não

**Adicione outra coluna chamada local e insira o que você tem em mente.**

In [27]:
pokemon ['Lugar'] = ['Parque', 'Rua', 'Lago', 'Floresta']
pokemon

         Nome    Tipo  Vida    Evolução Pokedex     lugar     Lugar
0   Bulbasaur  planta    45     Ivysaur     sim    Parque    Parque
1  Charmander    fogo    39  Charmeleon     não       Rua       Rua
2    Squirtle    agua    44   Wartortle     sim      Lago      Lago
3    Caterpie  inseto    55     Metapod     não  Floresta  Floresta

In [28]:
pokemon.dtypes

Nome        object
Tipo        object
Vida         int64
Evolução    object
Pokedex     object
lugar       object
Lugar       object
dtype: object