<a href="https://colab.research.google.com/github/ajpj1/Antonio-Jesuz/blob/main/Python_Analytics_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Esse comando é para imprimir o gráfico na mesma tela
%matplotlib inline

In [9]:
# Vamos criar uma Series ou Colunas chamada "notas" - Atentar para o índice
notas = pd.Series([2,7,7,5,10])
notas

0     2
1     7
2     7
3     5
4    10
dtype: int64

In [13]:
# Vamos criar um Dataframe com Dicionário de chaves e valores abaixo:
df = pd.DataFrame ({'Alunos': ["Oliveira", "Brunomac", "Hott", "Marlon", "Ricardo"],
                    'Faltas': [3,4,2,1,4],
                    'Prova': [2,7,5,10,6],
                    'Seminário': [8.5, 7.5, 9.0, 7.5, 8.0]})
df

     Alunos  Faltas  Prova  Seminário
0  Oliveira       3      2        8.5
1  Brunomac       4      7        7.5
2      Hott       2      5        9.0
3    Marlon       1     10        7.5
4   Ricardo       4      6        8.0